body {
    height: 1500px;
}

.topBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    color: #DA1B05;
    font-size: 22px;
    text-decoration: none;
    border: 2px solid #DA1B05;
    padding: 0 5px;
}
