<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel='stylesheet' href='../stylesheets/bootstrap.min.css'>
	<link rel='stylesheet' href='../stylesheets/gallery3.css'>
	<title>Lesson 10. Gallery. HW</title>
</head>
<body>
	<div class="b-container ">
		<div class="b-contaier__gallery">
			<div class="b-gallery" id='gallery1'>
				<div class="b-gallery__picture">
					<img src="../images/gallery/1.jpg" alt="" class="b-picture">
				</div>
			</div>
		</div>
	</div>
	
	<script src="../scripts/jquery-2.1.4.js"></script>
	<script src="../scripts/component.js"></script>
	<script src="../scripts/settings.js"></script>
	<script src="../scripts/init_settings.js"></script>
	
	<script src="../scripts/gallery3.js"></script>
	<script>
		var g1 = new Gallery('#gallery1');
		</script>
</body>
</html>