<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>
		</title>
		<meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
		<link rel='stylesheet' href='../stylesheets/menu.css'>
	</head>
	<body>
		<ul class='b-menu' id="menu1">
			<li class='b-menu__item'><a href='#' class='b-menu__link'>Файл</a>
				<ul class='b-submenu'>
					<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Создать</a></li>
					<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Открыть</a></li>
					<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Сохранить</a></li>
				</ul>
			</li>
			<li class='b-menu__item'><a href='#' class='b-menu__link'>Правка</a></li>
			<li class='b-menu__item'><a href='#' class='b-menu__link'>Вид</a>
				<ul class='b-submenu'>
					<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Список</a></li>
					<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Таблица</a></li>
					<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Плиточка</a></li>
				</ul>	
			</li>
		
		</ul>
	</body>
	<script src="../scripts/jquery-2.1.4.js"></script>
	<script src="../scripts/menuAnimate.js"></script>

	<script>
		var m1 = new Menu('#menu1');
	</script>
</html>