<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheets/scroll.css">
    <title>Scroll</title>
</head>

<body>
    <div id="page1">
        <a href="#top" class="topBtn">наверх</a>
    </div>

    <script src="../scripts/jquery-2.1.4.js"></script>
    <script src="../scripts/component.js"></script>
    <script src="../scripts/scroll.js"></script>
    <script>
    var s1 = new scroll('#page1');
    </script>
</body>

</html>
