@font-face {
	font-family: 'Vani';
	src: url('fonts/Vani.eot');
	src: local('☺'), url('fonts/Vani.woff') format('woff'), url('fonts/Vani.ttf') format('truetype'), url('fonts/Vani.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rockwell';
	src: url('fonts/rockwell.eot');
	src: local('☺'), url('fonts/rockwell.woff') format('woff'), url('fonts/rockwell.ttf') format('truetype'), url('fonts/rockwell.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html {
	height: 100%;
}


* {
	margin: 0; /*Remove default margin in all html*/
	padding: 0;	 
	font-size: 0;
}

body {
	background: #ada6a0 radial-gradient(circle at top center, #fff 2%, #ada6a0 50%) no-repeat;
}


.container {
	width: 930px;
	margin: 0 auto;
}

/*.container * {*/
/*	outline: 1px solid red;*/
/*}*/

.header {
	height: 136px;
	text-align: center;
	color: #545454;
}

.header h1 {
	font-size: 88.5px;
	font-family: 'Vani';
	font-weight: normal;
}

/*Menu section*/

.menu * {
	font-size: 18px;
	font-family: 'rockwell';
}
 
.menu {
	height: 55px;
	background: #fff;
	position: relative;
	margin: 0 0 20px 0;
	box-shadow: 0px 0px 3px #545454;
}

.menu li {
	position: relative;
	display: inline-block;
	height: 55px;
	width: 110px;
	text-align: center;
}
.menu a {
	display: inline-block;
	text-decoration: none;
	margin: 16px 0 0 0;
	color: red;
}

/*.menu a:visited {*/
/*	color: #545454;*/
/*}*/

.menu .search {
	/*float: right;*/
	font-size: 4px;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 16px;

}

.menu input {
	color: rgba(91,91,91,.5);
	font-size: 18px;
	font-style: italic;
	padding: 1px 0 1px 10px;
	border: 1px solid rgba(91,91,91,.2);
	background: rgba(91,91,91,.05);
}

.menu .s_img {
	position: absolute;
	top: 18px;
	right: 20px;
}

/*Wallpapers section*/

.wallpapers {
	background: #fff;
	margin: 0 0 15px 0;
	box-shadow: 0px 0px 3px #545454;
}

.wallpapers img {
	margin: 15px 11px 10px;
}

/*Slide-panel section*/

.slide-panel {
	margin: 0 0 15px;
	position: relative;
	color: #5b5b5b;
	
}

.slide-panel div {
	display: inline-block;
	width: 225px;
	height: 377px;
	background: #fff;
	margin: 0 10px 0 0;
	position: relative;
	box-shadow: 0px 0px 3px #545454;
}


.slide-panel .last {
	margin: 0;
}

.slide-panel img {
	margin: 10px;
	width: 205px;
	height: 155px;
}

.slide-panel p {
	font-size: 12px;
	font-family: 'rockwell';
	text-align: justify;
	margin: 0 10px;
}

.slide-panel span {
	margin: 0 0 0 35px;
}

/*Welcome panel section*/

.welcome-panel {
	background: #fff;
	height: 187px;
	margin: 0 0 15px 0;
	color: #5b5b5b;
	position: relative;
	box-shadow: 0px 0px 3px #545454;
	min-height: 200px;
	height: auto !important;
}

.welcome-panel .small-images {
	width: 230px;
	height: 170px;
	margin: 6px;
	float: left;
}

.welcome-panel img {
	width: 105px;
	height: 80px;
	margin: 4px;
}

.welcome-panel h2 {
	display: inline-block;
	font-size: 18px;
	font-family: 'rockwell';
	font-weight: normal;
	margin: 10px 0 0 0;
	color: #000;
}

.welcome-panel p {
	font-size: 12px;
	font-family: 'rockwell';
	text-align: justify;
	margin: 10px;
}

.welcome-panel p span {
	margin: 0 0 0 35px;
}

.welcome-panel a {
	font-size: 12px;
	font-family: 'rockwell';
	margin: 33px 10px 8px;
	/*float: right;*/
	position: absolute;
	right: 1px;
	bottom: 1px;
}

.welcome-panel a:visited {
	color: #545454;
}

/*Footer section*/

.footer {
	background: #fff;
	height: 55px;
	margin: 0 0 115px 0;
	color: #545454;
	box-shadow: 0px 0px 3px #545454;
}

.footer a {
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	font-family: calibri;
	margin: 18px 0 0 17px;
}

.footer a:visited {
	color: #545454;
}