body {
	background: url(../images/design/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

.b-main {
    height: 400px;
    /*font-family: arial;*/
    line-height: 2em;
}

.b-calc {
	float: right;
	box-shadow: 3px 3px 3px #888888;
}
.b-calc2 {
	float: right;
	box-shadow: 3px 3px 3px #888888;
}

#astenic {
	 display: none;
}

#normstenic {
	display: none;
}

#gyperstenic {
	display: none;
}